.place__description {
    margin: 0;
    width: 100%;
    grid-area: description;
}

@media screen and (max-width: 767px) {
    .place__description {
        margin: 32px 16px 0;
        width: calc(100% - 16px *2);
    }
}